

/***************************************************************************************
  계정정보
***************************************************************************************/
#content{width: calc(100%-240px);top: 70px;}

/* 데이타가 없을 경우 */
.no-data{display: flex;justify-content: center;align-items: center;}
.no-data .no-data-wrap{display: flex;flex-direction: column; width: 365px;height: 365px;border-radius: 100%;background-color: var(--upc-gray-800);align-items: center;justify-content: center;}
.no-data .no-data-wrap div{font-size: var(--upc-font-size-18);color: var(--upc-gray);}

/*----------------------------------------*/
/*-----------------팀(team)---------------*/
/*----------------------------------------*/
.add-team{margin-right: 30px;}

button.btn-modify{background: url(../img/ic-pen.png) no-repeat center center;width: 17px;height: 17px;}
button.btn-delete{background: url(../img/ic-trash.png) no-repeat center center;width: 17px;height: 17px;}
.team-wrap{padding: 30px;}
#tb-team{margin-bottom: 20px;}
.team-name{margin-bottom: 30px;}
.team-name .err-name{font-size: 12px;color: var(--upc-red);}
/* input[type="email"]{outline: none;} */
.pagenation{position: relative;}
.btn-sel-delete{position: absolute;width: 90px;height: 40px;right: 0;bottom: 0;}
/* input[type="checkbox"]{display: none;}
input[type="checkbox"] + label:before{content: ''; display: inline-block;width: 20px;height: 20px;position: absolute;} */
/* checkbox */
/* input[type="checkbox"]{  
  width: 22px;
  height: 22px;
  background: url(../img/bt-check-n.png)no-repeat center;
}
input[type='checkbox']:checked{
  background: url(../img/bt-check-s.png)no-repeat center;
} */
table.tb-layout th,table.tb-layout td{position: relative;}
/* input[type="checkbox"]{
  position: absolute;
  width: 22px;
  height: 22px;
  display: none;
} */
input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 4px;
  background: url(../img/bt-check-n.png)no-repeat center;
}

input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/bt-check-s.png)no-repeat center;
}


.team-add-team{width: 400px;height: 350px;top: 50%;left: 50%;padding: 19px 25px 25px;}
.modal-content{margin: 20px 0;}
.modal-content span{font-size: var(--upc-font-size-13);color: var(--upc-gray-300);margin-bottom: 10px;display: inline-block;}
.modal-content input{width: 330px;height: 40px;background: var(--upc-gray-500);color: var(--upc-gray-600);padding: 9px 16px;font-size: 15px;}

/*----------------------------------------*/
/*----------결제정보(account_info)---------*/
/*----------------------------------------*/
.info-tab-menu{display: flex;border-bottom: 1px solid var(--upc-gray-100);height: 50px;margin-bottom: 10px;}
.info-tab-menu li{margin: 0 10px;padding: 0 20px;display: flex;font-weight: bold;font-size: var(--upc-font-size-15);color: var(--upc-gray);align-items: center;justify-content: center;cursor: default;}
.info-tab-menu li:first-child{margin-left: 30px;}
.info-tab-menu li.current{border-bottom: 3px solid var(--upc-black-100);color: var(--upc-body-color);}
.info-tab-panel{width: calc(100%-60px);margin: 0 30px;}
.info-tab-panel .info-tab-content {display: none;}
.info-tab-panel .info-tab-content.current{display: block;}
/*------------------ 개요 ---------------*/
.info-tab-panel .tab1-wrap{height:calc(100vh - 168px);display: flex;justify-content: space-between;margin-top: 30px;min-width:1024px;}
.tab1-wrap .data {display: flex;flex-direction: column; justify-content: center;align-items: center; height: 350px;width: calc((100% - 90px)/4);min-width:250px;border-radius: 10px;border: solid 1px var(--upc-gray-100);}
.tab1-wrap .data .data-title{font-size: var(--upc-font-size-13);color: var(--upc-gray-300);margin-bottom: 10px;}
.tab1-wrap .data .data-use{font-size: var(--upc-font-size-20);color: var(--upc-body-color);margin-bottom: 50px;}
.tab1-wrap .data .data-use strong{font-size: var(--upc-font-size-20);color: var(--upc-body-color);}
/* .tab1-wrap .data .data-use-img{position: relative; width: 126px;height: 126px;border: 7px solid var(--upc-gray-500);border-radius: 50%;margin-bottom: 15px;} */
.tab1-wrap .data:first-child .data-use-img{position: relative; width: 126px;height: 126px;border: 7px solid var(--upc-gray-500);border-radius: 50%;margin-bottom: 15px;}
.tab1-wrap .data:not(:first-child) .data-use-img{position: relative; width: 120px;height: 120px;margin-bottom: 15px;}
.tab1-wrap .data .data-use-img img{position:absolute; top:50%; left: 50%; transform:translate(-50%,-50%);}
/*-------------- 결제정보 ----------------*/
/* 결제내역이 있을 경우 */
.info-tab-panel .tab2-wrap{display: flex;flex-direction: column;}
.date-search{display: flex; height: 80px;padding: 20px 0;border-bottom: 1px solid var(--upc-gray-100);}
.date-search .input-date{display: flex;height: 40px;}
.date-search .input-date span{display: flex;margin: 0 8px;align-items: center;font-weight: bold;}
input[type="date"]{padding: 0 16px;border-radius: 4px;background-color: var(--upc-gray-500);border: none;font-weight: bold;color: var(--upc-body-color);outline: none;}
.date-search .term{width: 400px;height: 40px;margin: 0 20px;}
.tb-wrap{margin-top: 20px;}
.tb-wrap .tb-sub-func{display: flex;width: 100%; justify-content: flex-end;}
.tb-wrap .tb-sub-func .btn-excel{margin-right: 10px;}
#tb-payment{margin-top: 10px;margin-bottom: 20px;}
.pagenation{justify-content: center;}

/* 결제정보 개요의 progress바 */
.data-use-img .inner, .circular .outer, .circular .circle{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;  
}
.data-use-img .inner{
  top: 50%;
  left: 50%;
  height: 110px;
  width: 110px;
  margin: -55px 0 0 -55px;
  background-color: #fff;
  border-radius: 100%;
}
.data-use-img .circle{
  z-index: 1;
  box-shadow: none;
}

.data-use-img .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  -webkit-border-radius: 100%;
  clip: rect(0px, 120px, 120px, 60px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 60px, 120px, 0px);
}
.circle .bar .progress{
  background: #181818;
}
.circle .right{
  z-index: 3;
  transform: rotate(180deg);
}

/*rotate 값으로 progress바 컨트롤*/
/* 1~50% left rotate 1~180deg */
/* 51%~100% left rotate 180deg + right rotate 1~180deg*/
/* ex) 75%일 경우는 left 180deg + right 90deg 로 설정 */
/* ex) 1%가 3.6deg이므로 x%*3.6으로 계산하여 설정 */
/* .circle .left .progress{
  z-index: 1;
  transform: rotate(180deg);
}
.circle .right .progress{  
  transform: rotate(90deg);
} */
.tab1-wrap .data:nth-child(2) .circle .left .progress{
  z-index: 1;
  transform: rotate(180deg);
}
.tab1-wrap .data:nth-child(2) .circle .right .progress{  
  transform: rotate(90deg);
}

.tab1-wrap .data:nth-child(3) .circle .left .progress{
  z-index: 1;
  transform: rotate(180deg);
}
.tab1-wrap .data:nth-child(3) .circle .right .progress{  
  transform: rotate(0deg);
}

.tab1-wrap .data:nth-child(4) .circle .left .progress{
  z-index: 1;
  transform: rotate(180deg);
}
.tab1-wrap .data:nth-child(4) .circle .right .progress{  
  transform: rotate(0deg);
}

/*----------------------------------------*/
/*------------프로필설정(profile)----------*/
/*----------------------------------------*/
.profile-setting{display: flex; flex-direction: column;width: calc(100%-60px);height: 300px;margin: 30px; border: 1px solid var(--upc-gray-100);border-top: 1px solid var(--upc-black-100);font-weight: bold;color: var(--upc-gray-300);}
.profile-setting ul{display: flex;flex:1;}
.profile-setting ul:first-child{flex:3;}
.profile-setting ul:not(:last-child){border-bottom: 1px solid var(--upc-gray-100);}
.profile-setting ul li{display: flex;align-items: center;padding: 0 20px;}
.profile-setting ul li:first-child{width: 200px;background-color: var(--upc-gray-700);}
.profile-setting ul li:last-child{flex: auto;}
.profile-setting input[type="text"]{width: 240px;height: 40px;border-radius: 4px;background-color: var(--upc-gray-500);padding-left: 16px;font-size: var(--upc-font-size-14);font-weight: bold;}
.profile-setting ul.profile-position input,.profile-setting ul.profile-was input{width: 100%;}
.profile-setting .email{padding-left: 20px;}
.profile-setting .email span{display: inline-block; font-size: var(--upc-font-size-13);margin-bottom: 10px;font-weight: normal;}
.profile-picture .pic-img{position: relative;}
.profile-picture .pic-img .btn-add-picture{position: absolute;width: 30px;height: 30px; bottom: 0;right: 0;background-color: var(--upc-white);border-radius: 50%;border: solid 1px var(--upc-gray-200);}
.profile-picture .pic-img .btn-add-picture img{position:absolute; top:50%; left: 50%; transform:translate(-50%,-50%);}
.profile-wrap .btn_rect_black{width: 100px;margin: 30px auto;}

.profile-add-picture{width: 330px;height: 450px;top: 50%;left: 50%;padding: 19px 25px 25px;}
.profile-add-picture #preview-picture{width: 280px;height: 280px;background-color: var(--upc-gray-200);margin: 30px auto;}
.profile-add-picture #preview-picture img{width: 100%;height: 100%;background-size: contain;}

.modal-title{display: flex;justify-content: space-between;}
.modal-title h2{font-size: var(--upc-font-size-16); color:var(--upc-body-color);}
.modal-bottom{display: flex;justify-content: space-evenly;}


/*----------------------------------------*/
/*-------------알림설정(notice)------------*/
/*----------------------------------------*/
 .notice-setting {display: flex; flex-direction: column; width: calc(100%-60px);margin:30px;}
 .notice-sub-title {display: flex;}
 .notice-sub-title .email{font-size: var(--upc-font-size-18);margin-right: 18px;color: var(--upc-body-color);}
 .notice-sub-title .cycle{font-size: var(--upc-font-size-13);display: flex;align-items: center; color: var(--upc-gray-300);} 
 .notice-cycle{display: flex;height: 280px;margin: 10px 0;}
 .notice-cycle li{display: flex;align-items: center;flex:1;justify-content: center;border: 1px solid var(--upc-gray-200);}
 .notice-cycle li:hover {background:var(--upc-gray-100);color:var(--upc-gray) ;transition: var(--upc-ts-ease);cursor: pointer;}
 .notice-cycle li:first-child{border-top-left-radius: 5%;border-bottom-left-radius: 5%;}
 .notice-cycle li:last-child{border-top-right-radius: 5%;border-bottom-right-radius: 5%;}
 .notice-cycle li:nth-child(n+2){border-left: none;}
 .notice-cycle li.current{border: 1px solid var(--upc-black-200);color: var( --upc-white);}
 .notice-cycle li.current .bg-rect .sel-image{display: block;}
 .notice-cycle li figure .bg-rect{position: relative;width: 128px;height: 128px;border-radius: 100%;background: var(--upc-gray-800);}
 .notice-cycle li figure .bg-rect .main-image{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
 .notice-cycle li figure .bg-rect .sel-image{display: none;position: absolute;top: 2px;right: 0;background: #000;width: 26px;height: 26px;border-radius: 100%;}
 .notice-cycle li figure figcaption{display: inline-block;width: 100%;color: var(--upc-body-color);font-size: var(--upc-font-size-20);text-align: center;margin: 20px 0;}
 /* .notice-setting .email,.cycle {width: 200px;color: var(--upc-gray-300);line-height: 50px;padding-left: 20px;}
 .notice-setting .email{background: var(--upc-gray-700);}
 .notice-setting .cycle{border-right:1px solid var(--upc-gray-100);border-left:1px solid var(--upc-gray-100);}
 .notice-setting .time{width: 200px;margin: 4px 20px;font-weight: bold;} */





